@use '../_core.scss' as c;
@use '../mixins' as mixins;

input.input {
    background: transparent;
    border: 1px solid;
    border-color: c.$light-gray;
    border-radius: 0;
    box-sizing: border-box;
    flex: 1 1;
    line-height: 19px;
    outline: 0;
    padding: 1rem;
    transition: all .2s ease-in-out;
    width: 100%;
    color: c.$white;
    font-size: c.$font-size-small;

    &:focus {
        border-color: c.$light-blue;
    }
}

.label {
    color: c.$white;
    font-size: c.$font-size-small;
    // line-height: 19px;
    // padding: 1rem 0;
    text-align: left;
    transition: color .2s ease-in-out;
    font-family: c.$font-primary;
    font-weight: 400;
    margin-bottom: 10px;

    position: relative;

    .asterick {
        color: c.$white-contrast;
        font-size: c.$font-size-xtiny;
        font-family: c.$font-primary;
        font-weight: 400;
        position: absolute;
        margin-left: 6px;
    }
}

.desc {
    color: c.$white-contrast;
    font-size: c.$font-size-small;
    font-weight: 300;
    text-align: left;
    transition: color .2s ease-in-out;
    font-family: c.$font-secondary;
    margin-bottom: 16px;
}

.error {
    @include mixins.error;
    margin-top: 10px;
}