@use '../core' as c;
@use '../mixins' as mixins;

.item-card {
    position: relative;
    box-shadow: 0px 4px 24px 4px #0000006e;

    >svg:nth-of-type(1) {
        color: c.$white;
        font-size: 36px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        cursor: pointer;
        transition: all .3s;
        box-shadow: c.base-drop-shadow(c.$base);
        background-color: c.$base;

        &:hover {
            transform: scale(1.1);
        }
    }

    >svg:nth-of-type(2) {
        color: c.$white;
        font-size: 36px;
        position: absolute;
        top: 10px;
        right: 50px;
        z-index: 1;
        cursor: pointer;
        transition: all .3s;
        box-shadow: c.base-drop-shadow(c.$base);
        background-color: c.$base;
        padding: 6px;

        &:hover {
            transform: scale(1.1);
        }
    }

    .content-container {
        padding: 30px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;

        .name {
            @include mixins.h5;
        }

        a.link {
            color: c.$lighter-gray;
            font-size: c.$font-size-tiny;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
            letter-spacing: .8px;
            // margin-top: 8px;
            // margin-bottom: 8px;

            >svg {}

            >span {
                width: 70%;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .analytics {

            >div {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 10px;

                span {
                    font-size: c.$font-size-tiny;
                    color: #fff;
                    cursor: pointer;
                    transition: all .3s;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: .8px;

                    &:first-of-type {
                        color: c.$light-gray;
                    }

                    &:last-of-type {
                        text-transform: capitalize;
                    }

                }
            }
        }

        .last-update {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;

            span {
                font-size: c.$font-size-tiny;
                color: #fff;
                cursor: pointer;
                transition: all .3s;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: .8px;

                &:first-of-type {
                    color: c.$light-gray;
                }

                &:last-of-type {
                    text-transform: capitalize;
                }

            }
        }

    }

    .options-menu {
        position: absolute;
        width: 240px;
        top: 60px;
        right: 10px;
        box-shadow: rgb(0 0 0 / 53%) 1px 1px 12px 10px;
    }
}