@use '../core' as c;

// local variabels
$width-line: 34px;
$height-icon: 22px;
$translateY: calc($height-icon / 2);
$translateX: 0;

.navbar {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 40px;
    padding: 20px 30px;
    align-items: center;
    background: c.$base;
    border-bottom: c.$base-border-thin;
    width: 100vw;
    z-index: 1;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox */
    box-sizing: border-box;

    .nav-brand {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 1.5px;
        z-index: 101;
        color: c.$white;
    }

    .navigation {
        display: grid;

        // all links
        .links {
            display: flex;
            align-items: center;
        }

        // main navigation links
        .links.nav-links {
            >a {
                padding: 0 1rem;
            }
        }

        // main profile links
        .links.profile-links {
            position: relative;

            >.link { cursor: auto; }

            .details-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 20px;

                // avatar
                >div:last-of-type {
                    transition: all .3s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .inner-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    row-gap: 10px;
                    cursor:auto;

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 10px;
                        text-transform: uppercase;
                        font-weight: 400;
                        letter-spacing: 1.5px;

                        .label {
                            color: c.$light-gray;
                        }
    
                        .value {
                            text-transform: capitalize;
                            color: c.$white;
                        }
    
                        .label, .value {
                            font-size: c.$font-size-tiny;
                        }
                    }
                }

            }

            .profile-menu { }
        }

        &.desktop {
            grid-template-columns: auto auto;
            font-size: 18px;
            align-items: center;

            .links.profile-links {
                justify-content: flex-end;
            }
        }

        // type 2 has the page title container
        .page-title-container {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            align-items: center;
            justify-content: flex-start;

            >svg {
                color: c.$light-gray;
                font-size: c.$font-size-default;
            }

            .title {
                text-transform: uppercase;
                color: c.$light-gray;
                letter-spacing: .8px;
                font-weight: 400;
                letter-spacing: 1.5px;
            }
        }

    }

    @media all and (max-width: 760px) {
        justify-content: space-between;
        grid-template-areas:
            "brand menuicon"
            "navigation navigation";

        .nav-brand {
            grid-area: brand;
        }

        .navigation {
            grid-area: navigation;

            &.desktop {
                display: none;
            }
        }

        .mobile-menu-icon {
            display: block;
            grid-area: menuicon;
        }
    }
}