// COLORS
$white: #fff;
$black: #000;
$base: #1B1B1B;
$base-contrast: #272727;
$dark-gray: #383838;
$med-gray: #434343;
$light-gray: #777;
$lighter-gray: #999;
$shade-gray: #ddd;
$white-contrast: rgba(255, 255, 255, .8);

$dark-blue: #001f44;
$hover-dark-blue: #023068;
$med-blue: #004480;
$light-blue: #00a9ec;
$shade-blue: #88ddff;

$dark-purp: #2e002e;
$hover-dark-purp: #5d005d;
$med-purp: #a500a8;
$light-purp: #e800ec;

$dark-orange: #3f0c00;
$hover-dark-orange: #611200;
$med-orange: #783800;
$light-orange: #d76500;
$shade-orange: #ffb16e;

$dark-yellow: #423200;
$hover-dark-yellow: #634a00;
$med-yellow: #7c6700;
$light-yellow: #e6d700;

$dark-green: #023e00;
$hover-dark-green: #035400;
$med-green: #047700;
$light-green: #00ee24;
$shade-green: #a2ffb0;

$dark-red: #3a0000;
$hover-dark-red: #500000;
$med-red: #6f0000;
$light-red: #F20505;

$dark-pink: #3c0016;
$hover-dark-pink: #5c0022;
$med-pink:  #7c003a;
$light-pink: #f300e2;

$facebook: #1777f2;
$soundcloud: #ff8a1f;
$spotify: #1db954;

// FONT SIZES
$font-size-xtiny: 10px;
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-default: 16px;
$font-size-med: 18px;
$font-size-thic: 20px;
$font-size-large: 22px;
$font-size-xlarge: 26px;
$font-size-xxlarge: 30px;
$font-size-xxxlarge: 34px;
$font-size-massive: 38px;
$font-size-explosive: 48px;

// FONT FAMILY
$font-primary: "Roboto", sans-serif;
$font-secondary: "Poppins", sans-serif;

// borders
$base-border-thin: 1px solid $med-gray;

// drop shadows
// $base-drop-shadow: 1px 1px 8px 1px 
// $base-drop-shadow: 1px 1px 8px 1px $base-contrast;
@function base-drop-shadow($color) {
    @return 1px 1px 8px 1px $color;
}
